services:
  db:
    image: postgres:15-alpine
    container_name: menteactiva_db
    environment:
      POSTGRES_DB: menteactiva
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
